# Node modules
node_modules/

# All log folders anywhere in the project
**/log/

# Build / Dist folders
dist/
build/

# Config files
rollup.config.js

# Source and Docs (if not needed in repo)
src/
docs/

# Markdown and other files to ignore
publish.md
PACKAGE-SUMMARY.md
CONTRIBUTING.md
update-version.js
