# Ignore the 'node_modules' folder
node_modules/

# Ignore all 'log' folders anywhere in the project
log/

rollup.config.js

src/
docs/

publish.md
PACKAGE-SUMMARY.md
CONTRIBUTING.md
update-version.js